
body{
	background-color: rgb(255,255,255);
}
.fluid-container{
	margin: auto;
	max-width: 1000px;
}
h1 {
  font-family: 'Bangers', cursive;
  font-size: 80px;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.gorgon{
	padding-left://50px;
}
.quote-text{
	font-size:24px;
	height://150px;
	padding: 30px 0 0 0;
}

div.footer {
  text-align: center;
  font-size: 10px;
}





.centered {
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translate(-50%, 0);
}


a {
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

a:hover {
  -webkit-transform: scale(1.15) rotate(10deg);
  transform: scale(1.15) rotate(10deg);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

a:active {
  transform: scale(1.1);
}

a:focus {
  outline: 0;
}


.gorgon {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  width: 25vmin;
}

.gorgon:hover {
  -webkit-transform: scale(1.15) rotate(-10deg);
  transform: scale(1.15) rotate(-10deg);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.button {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 190%);
  font-weight: normal;
  color: black;
  text-decoration: none;
  
}

.button:hover, .button:active {
  color: weight;
  font-weight: bold;
}

